parser/test/gridpack_style.xml

<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<grammars>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified">
    <xs:element name="Branch" type="gridpackBranch"/>
    <xs:element name="Bus" type="gridpackBus"/>
    <xs:element name="Generator" type="gridpackGenerator"/>
    <xs:element name="GridpackPowergrid" type="gridpackPowergrid"/>
    <xs:element name="Load" type="gridpackLoad"/>
    <xs:element name="Shunt" type="gridpackShunt"/>
    <xs:complexType name="gridpackBranch">
    <xs:sequence>
        <xs:element name="BRANCH_ANG" type="xs:double"/>
        <xs:element name="BRANCH_ID" type="xs:int"/>
        <xs:element minOccurs="0" name="ConnectedBuses">
            <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="ConnectedBus" type="gridpackBus"/>
            </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="BRANCH_CKT" type="xs:int"/>
        <xs:element name="BRANCH_FROMBUS" type="xs:int"/>
        <xs:element name="TRANSFORMER_CONT1" type="xs:int"/>
        <xs:element name="BRANCH_INDEX" type="xs:int"/>
        <xs:element name="BRANCH_FLOW_P" type="xs:double"/>
        <xs:element name="BRANCH_FLOW_Q" type="xs:double"/>
        <xs:element name="BRANCH_R" type="xs:double"/>
        <xs:element name="BRANCH_RATING_A" type="xs:double"/>
        <xs:element name="BRANCH_RATING_B" type="xs:double"/>
        <xs:element name="BRANCH_RATING_C" type="xs:double"/>
        <xs:element name="BRANCH_RATING" type="xs:double"/>
        <xs:element name="BRANCH_RATIO" type="xs:double"/>
        <xs:element name="TRANSFORMER_RMA1" type="xs:double"/>
        <xs:element name="TRANSFORMER_RMI1" type="xs:double"/>
        <xs:element name="BRANCH_STATUS" type="xs:int"/>
        <xs:element name="TRANSFORMER_TAP" type="xs:double"/>
        <xs:element name="BRANCH_TOBUS" type="xs:int"/>
        <xs:element name="IS_TRANSFORMER" type="xs:boolean"/>
        <xs:element name="TRANSFORMER_VMA1" type="xs:double"/>
        <xs:element name="BRANCH_X" type="xs:double"/>
        <xs:element name="BRANCH_B" type="xs:double"/>
        <xs:element name="BRANCH_SHUNT_ADMTTNC_BI" type="xs:double"/>
        <xs:element name="BRANCH_SHUNT_ADMTTNC_BJ" type="xs:double"/>
        <xs:element name="BRANCH_SHUNT_ADMTTNC_GI" type="xs:double"/>
        <xs:element name="BRANCH_SHUNT_ADMTTNC_GJ" type="xs:double"/>
    </xs:sequence>
    </xs:complexType>
    <xs:complexType name="gridpackBus">
    <xs:sequence>
        <xs:element name="BUS_AREA" type="xs:int"/>
        <xs:element name="BUS_BASEKV" type="xs:double"/>
        <xs:element minOccurs="0" name="BUS_NAME" type="xs:string"/>
        <xs:element name="BUS_NUMBER" type="xs:int"/>
        <xs:element name="BUS_TYPE" type="xs:int"/>
        <xs:element minOccurs="0" name="Generators">
            <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="Generator"/>
            </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="BUS_LOAD_PL" type="xs:double"/>
        <xs:element name="BUS_LOAD_QL" type="xs:double"/>
        <xs:element minOccurs="0" name="Loads">
            <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="Load"/>
            </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="BUS_MRID" type="xs:string"/>
        <xs:element name="BUS_OWNER" type="xs:int"/>
        <xs:element name="powerGridId" type="xs:int"/>
        <xs:element name="BUS_SHUNT_BL" type="xs:double"/>
        <xs:element name="BUS_SHUNT_GL" type="xs:double"/>
        <xs:element minOccurs="0" name="Shunts">
            <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="Shunt"/>
            </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="BUS_VOLTAGE_ANG" type="xs:double"/>
        <xs:element name="BUS_VOLTAGE_MAG" type="xs:double"/>
        <xs:element name="BUS_ZONE" type="xs:int"/>
    </xs:sequence>
    </xs:complexType>
    <xs:complexType name="gridpackGenerator">
    <xs:sequence>
        <xs:element name="GENERATOR_BUSNUMBER" type="xs:int"/>
        <xs:element minOccurs="0" name="GENERATOR_ID" type="xs:string"/>
        <xs:element name="GENERATOR_PG" type="xs:double"/>
        <xs:element name="GENERATOR_QG" type="xs:double"/>
        <xs:element name="GENERATOR_QMAX" type="xs:double"/>
        <xs:element name="GENERATOR_QMIN" type="xs:double"/>
        <xs:element name="GENERATOR_VS" type="xs:double"/>
        <xs:element name="GENERATOR_IREG" type="xs:int"/>
        <xs:element name="GENERATOR_MBASE" type="xs:double"/>
        <xs:element minOccurs="0" name="GENERATOR_ZSORCE" type="xs:string"/>
        <xs:element minOccurs="0" name="GENERATOR_XTRAN" type="xs:string"/>
        <xs:element name="GENERATOR_ZR" type="xs:double"/>
        <xs:element name="GENERATOR_ZX" type="xs:double"/>
        <xs:element name="GENERATOR_RT" type="xs:double"/>
        <xs:element name="GENERATOR_XT" type="xs:double"/>
        <xs:element name="GENERATOR_GTAP" type="xs:double"/>
        <xs:element name="GENERATOR_STAT" type="xs:int"/>
        <xs:element name="GENERATOR_RMPCT" type="xs:double"/>
        <xs:element name="GENERATOR_PMAX" type="xs:double"/>
        <xs:element name="GENERATOR_PMIN" type="xs:double"/>
        <xs:element name="GENERATOR_OWNER" type="xs:int"/>
    </xs:sequence>
    </xs:complexType>
    <xs:complexType name="gridpackLoad">
    <xs:sequence>
        <xs:element name="LOAD_BUSNUMBER" type="xs:int"/>
        <xs:element minOccurs="0" name="LOAD_ID" type="xs:string"/>
        <xs:element name="LOAD_STATUS" type="xs:int"/>
        <xs:element name="LOAD_AREA" type="xs:int"/>
        <xs:element name="LOAD_ZONE" type="xs:int"/>
        <xs:element name="LOAD_PL" type="xs:double"/>
        <xs:element name="LOAD_QL" type="xs:double"/>
        <xs:element name="LOAD_IP" type="xs:double"/>
        <xs:element name="LOAD_IQ" type="xs:double"/>
        <xs:element name="LOAD_YP" type="xs:double"/>
        <xs:element name="LOAD_YQ" type="xs:double"/>
        <xs:element name="LOAD_OWNER" type="xs:int"/>
    </xs:sequence>
    </xs:complexType>
    <xs:complexType name="gridpackShunt">
    <xs:sequence>
        <xs:element name="SHUNT_BUSNUMBER" type="xs:int"/>
        <xs:element minOccurs="0" name="SHUNT_MODSW" type="xs:string"/>
        <xs:element name="SHUNT_VSWHI" type="xs:double"/>
        <xs:element name="SHUNT_VSWLO" type="xs:double"/>
        <xs:element minOccurs="0" name="SHUNT_SWREM" type="xs:string"/>
        <xs:element minOccurs="0" name="SHUNT_VDES" type="xs:string"/>
        <xs:element name="SHUNT_RMPCT" type="xs:double"/>
        <xs:element minOccurs="0" name="SHUNT_RMIDNT" type="xs:string"/>
        <xs:element name="SHUNT_BINIT" type="xs:double"/>
    </xs:sequence>
    </xs:complexType>
    <xs:complexType name="gridpackPowergrid">
    <xs:sequence>
        <xs:element minOccurs="0" name="Branches">
            <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="Branch"/>
            </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Buses">
            <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="Bus"/>
            </xs:sequence>
            </xs:complexType>
        </xs:element>
    </xs:sequence>
    </xs:complexType>
</xs:schema>
</grammars>

<resources base="http://localhost:8181/cxf/gridpack">
<resource path="/">
    <resource path="{powergridName}">
        <param name="powergridName" style="template" type="xs:string"/>
        <method name="GET">
            <request></request>
            <response>
                <representation mediaType="application/xml"/>
                <representation mediaType="application/json"/>
            </response>
        </method>
    </resource>
    <resource path="{powergridName}/branch/count">
        <param name="powergridName" style="template" type="xs:string"/>
        <method name="GET"><request></request><response><representation mediaType="text/plain">
        <param name="result" style="plain" type="xs:int"/></representation></response></method>
    </resource>
    <resource path="{powergridName}/branches/{numberOfBranches}">
        <param name="powergridName" style="template" type="xs:string"/>
        <param name="numberOfBranches" style="template" type="xs:int"/>
        <method name="GET">
            <request></request>
            <response>
                <representation mediaType="application/json"/>
            </response>
        </method>
    </resource>
    <resource path="{powergridName}/branches/{startAtIndex}/{numberOfBranches}">
        <param name="powergridName" style="template" type="xs:string"/>
        <param name="startAtIndex" style="template" type="xs:int"/>
        <param name="numberOfBranches" style="template" type="xs:int"/>
        <method name="GET">
            <request></request>
            <response>
                <representation mediaType="application/json"/>
                <representation mediaType="application/xml"/>
            </response>
        </method>
    </resource>
    <resource path="{powergridName}/bus/count"><param name="powergridName" style="template" type="xs:string"/><method name="GET"><request></request><response><representation mediaType="text/plain"><param name="result" style="plain" type="xs:int"/></representation></response></method>
    </resource>
    <resource path="{powergridName}/buses/{numberOfBuses}"><param name="powergridName" style="template" type="xs:string"/><param name="numberOfBuses" style="template" type="xs:int"/><method name="GET"><request></request><response><representation mediaType="application/json"/><representation mediaType="application/xml"/></response></method>
    </resource>
    <resource path="{powergridName}/buses/{startAtIndex}/{numberOfBuses}"><param name="powergridName" style="template" type="xs:string"/><param name="startAtIndex" style="template" type="xs:int"/><param name="numberOfBuses" style="template" type="xs:int"/><method name="GET"><request></request><response><representation mediaType="application/json"/><representation mediaType="application/xml"/></response></method>
    </resource>
</resource>
</resources>
</application>